<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/public/layui/css/layui.css" media="all">
</head>

<body>
    <div>
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="user" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">待还金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tobepaid" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">利率</label>
                        <div class="layui-input-inline">
                            <input type="text" name="priceForSaleRate" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                        <span class="layui-form-label">%</span>    
                    </div>
                </div>

                <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">保险比率</label>
                            <div class="layui-input-inline">
                                <input type="text" name="xyz" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>


  <div class="layui-form-item">
        <label class="layui-form-label">标的等级</label>
        <div class="layui-input-block">
          <select name="levle" >
            <option value=""></option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D" selected="selected">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
          </select>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">标的id</label>
            <div class="layui-input-block">
              <textarea placeholder="请输入内容" name="idJson" class="layui-textarea"></textarea>
            </div>
          </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即申请</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <div class="layui-form-item" >
        <button  id="readinfobtn_suc" class="layui-btn">查看成功结果</button>
        <textarea  class="layui-textarea" id="readinfo_suc"> </textarea>
    </div>
    <div class="layui-form-item" >
        <button  id="readinfobtn_fail" class="layui-btn">查看失败结果</button>
        <textarea  class="layui-textarea" id="readinfo_fail"> </textarea>
    </div>
    <button  id="del1" class="layui-btn">清空成功日志</button>
    <button  id="del2" class="layui-btn">清空失败日志</button>
    <script src="/public/layui/layui.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form()
                , layer = layui.layer;

            //监听提交
            form.on('submit(demo1)', function (data) {
                var index = layer.load(0,{shade:[0.1,'#fff']});
                $.ajax({
                    type: 'post',
                    url: '/',
                    data: data.field
                    , success: function (e) {
                        layer.close(index);
                        if (e.code == "0000") {
                            layer.msg(e.msg, { icon: 1 ,time: 2000});
                        } else {
                            layer.msg(e.msg, { icon: 5 ,time: 2000});
                        }
                    }, error: function (e) {
                        layer.msg("服务出现问题", { icon: 5 ,time: 2000});
                    }
                })
                return false;
            });
        });

        $('#readinfobtn_suc').click(function(){
            getinfo('suc');
        });

        $('#readinfobtn_fail').click(function(){
            getinfo('fail');
        });

       function getinfo(type){
        var index = layer.load(0,{shade:[0.1,'#fff']});
        $.ajax({
                type: "post",
                url: "/readInfo",
                data:{
                    type:type
                },
                success: function (response) {
                    layer.close(index);
                    if(type=="suc"){
                        $('#readinfo_suc').val(response);
                    }else if(type=="fail"){
                        $('#readinfo_fail').val(response);
                    }
                }
             });
       }

       $('#del1').click(function(){
            dellog('suc')
       })
       $('#del2').click(function(){
            dellog('fail')
       })

       function dellog(type){
        $.ajax({
                type: "post",
                url: "/delnfo",
                data:{
                    type:type
                },
                success: function (response) {
                    layer.msg(response.msg, { icon: 1 ,time: 2000});
                }
            });
       }
    </script>

</body>

</html>